{
	{$CADDY_GLOBAL_OPTIONS}

	frankenphp {
		worker {
			file "{$APP_PUBLIC_PATH}/frankenphp-worker.php"
			{$CADDY_SERVER_WORKER_DIRECTIVE}
		}
	}
	order php_server before file_server
	auto_https off
	admin off

	servers {
		import trusted_proxies.caddy
	}
}

{$CADDY_EXTRA_CONFIG}

{$CADDY_SERVER_SERVER_NAME} {
    client_ip_headers X-Real-IP X-Forwarded-For

    log {
		level {$CADDY_SERVER_LOG_LEVEL}
		format filter {
			wrap {$CADDY_SERVER_LOGGER}
			fields {
				uri query {
					replace authorization REDACTED
				}
			}
		}
	}

	route {
		root * "{$APP_PUBLIC_PATH}"

		header {
			-Server
			-X-Powered-By
			X-Content-Type-Options "nosniff"
			X-Frame-Options "SAMEORIGIN"
			X-XSS-Protection "1; mode=block"
			Referrer-Policy "strict-origin-when-cross-origin"
			Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		}

		@static {
			file
			path *.ico *.css *.js *.gif *.jpg *.jpeg *.png *.svg *.woff *.woff2
		}
		header @static Cache-Control "public, max-age=2592000, must-revalidate"

		request_body {
			max_size 99MB # Cloudflare limits to 100MB
		}

		# Octane / Mercure Extra Directives
		{$CADDY_SERVER_EXTRA_DIRECTIVES}

		# FrankenPHP Worker Configuration
		php_server {
			index frankenphp-worker.php
			try_files {path} frankenphp-worker.php
			resolve_root_symlink
			file_server off
		}

		file_server
	}
}
